menu "net_transfer"
	config BK_NETWORK_TRANSFER
		bool "Enable BEKEN Network Transfer"
		default n

	config BK_WSS_TRANS
		bool "Enable Beken Websocket Transmit for AI"
		default n

	config BK_WSS_TRANS_NOPSRAM
		bool "Enable Websocket Transmit for AI without PSRAM"
		default n

	config VOLC_ENABLE_VISION_BY_DEFAULT
		bool "Enable visual recognition for volc_rtc by default"
		default n

	config VOLC_ENABLE_SUBTITLE_BY_DEFAULT
		bool "Enable subtitle for volc_rtc by default"
		default n

	config SENSENOVA_ENABLE
		bool "Enable sensenova with aogra by default"
		default n

	config STARTUP_AGENT_FROM_BK_SERVER
		bool "Start agent from BK server if enable, otherwise start agent from Custom-built server"
		default y
endmenu
